.hidden { display: none }

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  background-color: #536B78; 
}

.header {
  font-family: Rokkitt;
  font-style: normal;
  font-weight: normal;
  font-size: 25.23px;
  line-height: 29px;
}

.dark {
  color: #000;
}

.light {
  color: #fff;
}

.title {
  font-family: Rokkitt;
  font-style: normal;
  font-weight: bold;
  font-size: 19.93px;
  line-height: 23px;
}

.caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15.75px;
  line-height: 18px;
}

.game-log > .title {
  text-align: center,
}

.available-pieces > .title {
  text-align: center;
}


html {
  --scrollbarBG: #CEE5F2;
  --thumbBG: #536B78;
}

.game-log::-webkit-scrollbar,
.piece-list::-webkit-scrollbar {
  width: 11px;
}

.game-log,
.piece-list {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.game-log::-webkit-scrollbar-track,
.piece-list::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 5px;
}

.game-log::-webkit-scrollbar-thumb,
.piece-list::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 5px;
  border: 3px solid var(--scrollbarBG);
}