.hidden { display: none }

.game-board {
  display: flex;
  flex-wrap: wrap;
}

.game-board-tile {
  width: 25%;
  height: 100px;
}

.game-board-tile {
  border-color: #000;
  border-style: solid;
  border-width: 2px;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  background-color: #536B78; 
}

.header {
  font-family: Rokkitt;
  font-style: normal;
  font-weight: normal;
  font-size: 25.23px;
  line-height: 29px;
}

.dark {
  color: #000;
}

.light {
  color: #fff;
}

.title {
  font-family: Rokkitt;
  font-style: normal;
  font-weight: bold;
  font-size: 19.93px;
  line-height: 23px;
}

.caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15.75px;
  line-height: 18px;
}

.game-history > .title, 
.available-pieces > .title {
  text-align: center;
}


html {
  --scrollbarBG: #CEE5F2;
  --thumbBG: #536B78;
}

.piece-list::-webkit-scrollbar {
  width: 11px;
}
.piece-list {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.piece-list::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 5px;
}
.piece-list::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 5px;
  border: 3px solid var(--scrollbarBG);
}